{
  "all": true,
  "include": [
    "app.js",
    "lib/**/*.js"
  ],
  "exclude": [
    "coverage/**",
    "test/**",
    "**/*.test.js",
    "**/*.spec.js",
    "server/coverage_server.js",
    "client/**"
  ],
  "reporter": [
    "text",
    "html",
    "cobertura"
  ],
  "check-coverage": false,
  "temp-dir": "./.nyc_output",
  "report-dir": "./coverage"
}

